.menu {
  background-color: rgb(59, 58, 58);
}

.orange-block {
  background-color: black;
}
.orange-block .orange-block__text {
  color: #fff;
}

.blue-block {
  background-color: black;
}

.black-block {
  background-color: black;
}

.footer {
  background-color: black;
}
.footer .footer_title {
  color: #fff;
}
.footer .footer_number__subtitle {
  color: #fff;
}
.footer .footer_number_info a {
  color: #fff;
}
.footer .footer_number_info a:hover {
  color: rgb(230, 15, 15);
}